# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

# Node
node_modules/
dist/
.npm

# IDE / OS
.vscode/
.idea/
.DS_Store

# Miniprogram
/miniprogram_npm/
/project.config.json
/project.private.config.json

# Env
.env